<div class="flex h-full w-full px-32 border-2 py-5 justify-between">
  <div class="basis-1/2 gap-y-2 flex flex-col justify-center">
    <h1 class="font-light text-6xl">Heyy {{ userName }}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
      praesentium dignissimos autem recusandae? Iste tempore praesentium eius,
      quibusdam numquam quasi consequuntur, non quaerat in qui beatae. Nam
      assumenda aut obcaecati.
    </p>
  </div>
  <div class="basis-1/2 flex justify-center items-center">
    <img
      sizes="(max-width: 600px) 300px,
           (max-width: 1200px) 600px,
           1200px"
      width="400"
      class="mix-blend-overlay"
      src="/assets/homePage.jpg"
      alt="profile"
    />
  </div>
</div>
